body {
	/*
	 background: none repeat scroll 0 0 #F3F3F3;
	 */
	background: url('../assets/bg_pattern_light.png') repeat scroll 0 0;
	height: 100%;
	color: #3e3e3e;
}
#nav_wrapper {
	height: 42px;
	background-color: #000000;
	color: #FFFFFF
}
#nav_wrapper .container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.email {
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	font-size: 16px;
	margin: 9px 270px 9px 110px;
}
.email:hover {
	text-decoration: underline;
}
.email_icon {
	position: relative;
	top: 1px;
	right: 5px;
}
#nav_links {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#nav_links li {
	display: block;
	float: left;
	padding: 0;
}
#nav_links li:hover {
	background-image: linear-gradient(bottom, #212121 42%, #050505 100%, #212121 86%);
	background-image: -o-linear-gradient(bottom, #212121 42%, #050505 100%, #212121 86%);
	background-image: -moz-linear-gradient(bottom, #212121 42%, #050505 100%, #212121 86%);
	background-image: -webkit-linear-gradient(bottom, #212121 42%, #050505 100%, #212121 86%);
	background-image: -ms-linear-gradient(bottom, #212121 42%, #050505 100%, #212121 86%);
}
#nav_links li a {
	display: block;
	font-family: HelveticaNeueMedium, HelveticaNeue-Medium, "Helvetica Neue Medium", HelveticaNeue, "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 110%;
	font-weight: 500;
	line-height: 22px;
	padding: 10px 20px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#nav_links  a:link, a:visited, a:hover, a:active {
	color: #FFFFFF;
	text-decoration: none;
}
#header_container {
	background-image: url('../assets/header-repeat.png');
	background-repeat: repeat-x;
	height: 315px;
}
#header_content {
	background: url("../assets/header-notext.png") no-repeat scroll 0 0 transparent;
	height: 315px;
	width: 1080px;
	margin: 0 auto;
}
#header_content .logo {
	background: url("../assets/logo.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 294px;
	margin-top: 10px;
	margin-left: 110px;
	width: 231px;
	z-index: 99;
}
#header_content .brushes {
	background: url("../assets/header_brushes.png") no-repeat scroll 0 0 transparent;
	float: right;
	width: 610px;
	height: 139px;
	margin: 85px 100px 0 0;
}
#header_content .gaas, .title_under {
	color: #f7f7a3;
	font-family: HelveticaNeueMedium, HelveticaNeue-Medium, "Helvetica Neue Medium", HelveticaNeue, "Helvetica Neue", helvetica, arial, sans-serif;
}
#header_content .gaas {
	font-size: 330%;
	font-weight: 600;
	margin-left: 40px;
	margin-top: 28px;
	line-height: 1px;
}
#header_content .title_under {
	font-size: 130%;
	font-style: italic;
	line-height: 17px;
	margin-left: 140px;
	margin-top: 48px;
	width: 460px;
}
#footer-container a:link {
	color: #FFFFFF;
}
#footer-container a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#footer-container a:hover {
	color: #DDDDDD;
	text-decoration: none;
}
#footer-container a:active {
	color: #CCCCCC;
	text-decoration: none;
}
b {
	color: #3e3e3e;
}
#content {

	width: 1080px;
	height: 920px;
	margin: 0 auto;
}
#content_wrapper {
	line-height: 1.5;
}
#left_content {
	height: 560px;
	margin: 10px 0 0 100px;
	width: 500px;
	background-color: #fcfcfc;
	border: 2px dashed #a8a8a8;
}
#who_are_we, #what_we_do, #gamification {
	float: left;
    padding: 0 40px 20px;
    width: 420px;
}
#what_we_do{
	
}
/*
 #gamification {
 border-radius: 15px;
 border: 2px solid #b2b2b2;
 color: #3E3E3E;
 float: left;
 height: 150px;
 margin: 0 0 0 325px;
 margin-top: 20px;
 width: 460px;
 padding-left: 20px;
 padding-top: 3px;
 }
 */
.sunglasses_owl, .nerdy_owl {
	float: left;
	padding: 0 25px 20px 0;
}
.girl_owl {
	float: right;
	padding-bottom: 15px;
	padding-left: 25px;
}
/*
 h2, h3 {
 margin: 0;
 padding: 0;
 border: 0;
 text-shadow: 1px 1px 0 #FFFFFF;
 }
 */

.title {
	display: block;
	padding: 10px;
	color: #26272b;
	font-weight: bold;
	font-size: 170%;
	position: relative;
}
.title:before, .title:after {
	content: attr(title);
	padding: 10px;
	color: rgba(255,255,255,.1);
	position: absolute;
}
.title:before {
	top: 1px;
	left: 1px;
}
.title:after {
	top: 2px;
	left: 2px;
}
.bubble {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 2px #ABABAB;
	line-height: 1.3em;
	margin-bottom: 20px;
	margin-left: 90px;
	padding: 10px;
	position: relative;
	width: 300px;
}
.bubble-arrow-border {
	border-color: transparent #999999 transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	left: -21px;
	position: absolute;
	top: 20px;
	width: 0;
}
.bubble-arrow {
	border-color: transparent #FFFFFF transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	left: -20px;
	position: absolute;
	top: 20px;
	width: 0;
}
#footer-container {
	/*

	 background-color: #212121;
	 padding-top: 10px;
	 */
	background-image: url('../assets/footer-repeat.png');
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.5;
}
#footer_img {
	background-image: url('../assets/footer.png');
	margin: 0 auto;
	width: 1080px;
	height: 60px;
	padding-top: 10px;
}
#content_about {
	background-image: url('../assets/background_about.png');
	background-repeat: no-repeat;
	width: 1080px;
	height: 920px;
	margin: 0 auto;
}
.who_behind {
	padding: 50px 0 0 420px;
}
#person {
	border-radius: 15px;
	border: 2px solid #b2b2b2;
	color: #3E3E3E;
	float: left;
	height: 120px;
	width: 460px;
	padding-left: 10px;
	padding-top: 5px;
	margin: 5px 0 0 325px;
}
.photo {
	float: left;
	padding: 5px 10px;
}
.our_team {
	padding: 15px 0 0 420px;
}