.project {
	float: left;
	width: 400px;
	height: 165px;
	border-radius: 6px;
	border: 1px solid #DBDBDB;
	padding: 5px;
	margin: 0 32px 20px 32px;
}
.project:hover {
	border-radius: 6px;
	border: 1px solid #D76010;
	background-color: #D76010;
}
.project_image {
	width: 400px;
	height: 120px;
}
.projects_info {
	margin-bottom: 20px;
}
.project_description {
	background-color: #FFFFFF;
	height: 40px;
	padding: 4px 2px 2px 2px;
	text-align: center;
	font-style: italic;
}

a.project {
	text-decoration: none;
	color: #404040;
}
